<!DOCTYPE html>
<html>
<head>
<title>Memento - HR Hub</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/style.css" />
<link href='http://fonts.googleapis.com/css?family=Satisfy'
	rel='stylesheet' type='text/css'>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/hr.js"></script>
<style>
.quote-container {
	margin-top: 50px;
	position: relative;
}

.note {
	color: #333;
	position: relative;
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	font-family: Satisfy;
	font-size: 30px;
	box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.note .author {
	display: block;
	margin: 40px 0 0 0;
	text-align: right;
}

.yellow {
	background: #eae672;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.pin {
	background-color: #aaa;
	display: block;
	height: 32px;
	width: 2px;
	position: absolute;
	left: 50%;
	top: -16px;
	z-index: 1;
}

.pin:after {
	background-color: #A31;
	background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, .3),
		hsla(0, 0%, 0%, .3));
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1), inset 3px 3px 3px
		hsla(0, 0%, 100%, .2), inset -3px -3px 3px hsla(0, 0%, 0%, .2), 23px
		20px 3px hsla(0, 0%, 0%, .15);
	content: '';
	height: 12px;
	left: -5px;
	position: absolute;
	top: -10px;
	width: 12px;
}

.pin:before {
	background-color: hsla(0, 0%, 0%, 0.1);
	box-shadow: 0 0 .25em hsla(0, 0%, 0%, .1);
	content: '';
	height: 24px;
	width: 2px;
	left: 0;
	position: absolute;
	top: 8px;
	transform: rotate(57.5deg);
	-moz-transform: rotate(57.5deg);
	-webkit-transform: rotate(57.5deg);
	-o-transform: rotate(57.5deg);
	-ms-transform: rotate(57.5deg);
	transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
}
</style>
</head>


<body>

	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Memento</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a data-toggle="modal" data-target="#insert-memento-modal"
					href="#">Add a Memento</a></li>
				<li><a data-toggle="modal" data-target="#delete-memento-modal"
					href="#">Delete a Memento</a></li>
				<li><a data-toggle="modal" data-target="#create-event-modal"
					href="#">Define an Event</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Logged in as HR PERSON <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Account Settings</a></li>
						<li><a href={{logout_url}}>Log out</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h2>
				Welcome to Memento, HR Person!
				<h2>
					<p>Make a memento and send swags to employees.
					<p>
		</div>
	</div>

	<div class="memento-section">
		<div class="container">
			<div class="row">
				<div class="memento col-md-4">
					<h3>Fake Testing Momento</h3>
					<p>All I want for my birthday</p>
					<p>A BIG FAT CUPCAKE
					<p>
					<div class="edit-button">Edit</div>
					<div class="delete-button">Delete</div>

				</div>
			<div class="memento col-md-4">
				<h3>Fake Testing Momento no.2 </h3>
				<p>All I want for my birthday</p>
				<p>FTS socks<p>
				<div class="edit-button">Edit</div>
				<div class="delete-button">Delete</div>
			</div>
			<div class="memento col-md-4">
				<h3>Memento Name</h3>
				<p>Event</p>
				<p>Item<p>
				<div class="edit-button">Edit</div>
				<button class="delete-button">Delete</button>
			</div>

				{% for memento in all_mementos %}
				<div class="memento col-md-4">
					<h3>{{memento.memento_name}} Memento</h3>
					<p>Event: </p>
					<p>Item: {{memento.item.get().item_name}}<p>
					<div class="edit-button">Edit</div>
					<div class="delete-button" data-toggle="modal" data-target="#delete-confirmation-modal">Delete
						<div class="hidden entity-key">{{memento.key.urlsafe()}}</div>
						<div class="hidden name">{{memento.memento_name}}</div>
					</div>
				</div>
				{% endfor %}


			</div>
		</div>
	</div>


	<div class="jumbotron">
		<h3>Hello, HR PERSON!</h3>
		{% for memento in all_mementos %}
		<div class="quote-container">
			<i class="pin"></i>
			<blockquote class="note yellow">
				<input type="text" name="entity_key" class="hidden">
				<h3>{{memento.memento_name}} Memento</h3>
				<br />
				<p>Event: </p>
				<br />
				<p>Item: {{memento.item.get().item_name}}</p>
				<br />
				</form>
			</blockquote>
		</div>
		{% endfor %}



	</div>


	<!-- Modal -->
	<div id='insert-memento-modal' class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="Insert memento" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add a Memento</h4>
				</div>
				<form action="/addmemento" method="POST" class="form-horizontal"
					role="form">
					<input name="entity_key" type="text" class="hidden">
					<div class="modal-body">
						<div class="form-group">
							<label for="quote-input" class="col-sm-2 control-label">Memento
								Name:</label>
							<div class="col-sm-10">
								<input id="name-input" name="name" type="text"
									class="form-control" placeholder="Memento Name">
							</div>
						</div>
						<div class="form-group">
							<label for="event-input" class="col-sm-2 control-label">Event:
							</label>
							<div class="col-sm-10">
								<select id="type-input" name="type" class="form-control">
									{% for memento in all_mementos %}
									<option value="unknown">
										</option> {% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="item-input" class="col-sm-2 control-label">Item:
							</label>
							<div class="col-sm-10">
								<select id="item-input" name="item" class="form-control">
									{% for vendor in all_vendors %} {% for item in vendor.inventory
									%}
									<option value="unknown">{{vendor.company_name}} ||
										{{item.get().item_name}} (${{item.get().item_price}}/unit)</option> {%
									endfor %} {% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add Memento</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- Modal -->
	<div id='delete-memento-modal' class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="Delete memento" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Delete a Memento</h4>
				</div>
				<form action="/DeleteMemento" method="POST" class="form-horizontal"
					role="form">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">Memento Name</label>
							<div class="col-sm-10">
								<input id="name-input" name="memento_to_delete_name" type="text"
									class="form-control" placeholder="name">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Delete
							Memento</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


	<div id="delete-confirmation-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/DeleteMemento" method="POST" class="form-horizontal"
					  role="form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Confirm Delete</h4>
				</div>
				<div class="modal-body">
					<input name="entity_key">
					<p>Are you sure to delete this <text id="name">NAME</text> Memento?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Delete</button>
				</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal -->
	<div id='create-event-modal' class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="Create Event" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Define an Event</h4>
				</div>
				<form action="/DefineEvent" method="POST" class="form-horizontal"
					role="form">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">Event Name</label>
							<div class="col-sm-10">
								<input id="event_name" name="event_name" type="text"
									class="form-control" placeholder="name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Event Source</label>
							<div class="col-sm-10">
								<select id="event_source" name="event_source" class="Form-control">
								{% for model_field in model_fields %}
									<option value="test"> {{model_field}} </option>
								{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Define Event</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/javascript.js"></script>

</body>
</html>