<!DOCTYPE html>
<html>
<head>
    <title>Memento - View Orders</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.2.1/css/fuelux.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//www.fuelcdn.com/fuelux/3.2.1/js/fuelux.min.js"></script>
    <script src="/static/js/order.js"></script>




</head>
<body>


<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Memento</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/VendorHub">Home</a></li>
            <li class="active"><a href="#">View Order</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{user.nickname()}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href={{logout_url}}>Log out</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3" id="customers-navbar-collapse">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a>Customers</a>
                </li>
            <li><a id="james-button">James Buttler</a></li>
            <li><a id="robouser-button">Robouser</a></li>
            <li><a>McDongDong</a></li>
            <li><a>Fake Customer</a></li>
            </ul>
        </div>
        <div class="panel panel-default col-xs-12 col-md-9">

            <div class="panel-body summary-panel active-panel " id="initial-panel">
                <div class="jumbotron">
                    <h2>Hello, {{user.nickname()}}</h2>
                    <p>Select a customer and to view the orders.</p>

                    <p>{% for order in orders %}
                        {{order.item_name}}
                        {% endfor %}</p>
                 </div>



            </div>

            </div>
            <div class="panel-body summary-panel" id="james-summary-panel">
            <div class="page-header" >
                <h1>Summary of James Buttler's Orders </h1>
            </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th></th>
                            <th>Unit Price</th>
                            <th></th>
                            <th>Total Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FTS Socks</td>
                            <td>1</td>
                            <td>x</td>
                            <td>$8</td>
                            <td>=</td>
                            <td>$8</td>
                        </tr>
                        <tr>
                            <td>Balloons</td>
                            <td>90</td>
                            <td>x</td>
                            <td>$2</td>
                            <td>=</td>
                            <td>$180</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sum Total:</td>
                            <td>$188</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="panel-body summary-panel" id="robouser-summary-panel">
                <div class="page-header">
                <h1>Summary of Robouser's Orders </h1>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th></th>
                        <th>Unit Price</th>
                        <th></th>
                        <th>Total Revenue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mechanical Heart</td>
                        <td>1</td>
                        <td>x</td>
                        <td>$852</td>
                        <td>=</td>
                        <td>$852</td>
                    </tr>
                    <tr>
                        <td>Orange Cupcake</td>
                        <td>1</td>
                        <td>x</td>
                        <td>$6</td>
                        <td>=</td>
                        <td>$6</td>
                    </tr>
                    <tr>
                        <td>Balloons</td>
                        <td>2</td>
                        <td>x</td>
                        <td>$2</td>
                        <td>=</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Sum Total:</td>
                        <td>$866</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>